<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DBUser" value="gd"></add>
    <add key="DBPassword" value="gd2016"></add>
    <add key="DBInitialCatalog" value="GD2C2016"></add>
    <add key="DBSource" value=".\SQLSERVER2012"></add>
    <add key="Fecha" value="2016-11-13 15:00:00"></add>
  </appSettings>
</configuration>